.dashboard-iframe {
    /* margin-top: 3vh; */
    width: 99.8%;
    height: 100%;
    border: 1px solid lightgray;
    /* border-radius: 1%; */
  }

.custom-panel-header{
  cursor: pointer;
  font-size:17px;
 border-radius: 10px; 
 border-bottom: 1px solid lightgray;
 padding-top:5px;
 padding-bottom:5px;
}
.custom-panel-header:hover{
 background-color:rgb(242, 245, 245); 
}
.custom-panel-content{
 padding-top: 10px;
 padding-bottom: 7px;
 font-size:17px;
 border-radius: 10px;
 border-bottom: 1px solid lightgray;
}
.custom-panel-content-toggler{
  cursor: pointer;
  transition: background-color 0.3s ease;
 }

 .custom-panel-content:has(> .custom-panel-content-toggler:hover) {
  background-color: rgb(242, 245, 245); 
}
.left-top-align{
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
}
.popup-fullscreen-button-div{
  cursor: pointer;
  font-size: 30;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.graph-fullscreen{
  z-index: 999;
}
.streaming-background{
  background-image: url('Pixel-Streaming-Background.svg');;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  height:100%;
}
.start-streaming-div{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}