:where(.css-dev-only-do-not-override-ed5zg0).ant-card  .ant-card-body{
    padding:10px
}
.user-filter{
    padding:0px;
    background-color:transparent;
    display:'flex';
    align-items: center;
    /* border:1px dark black; */
    border-radius: 8px;
}
 .add-card{
    margin-bottom:5px;
    /* padding:0px; */
    background-color:transparent;
    border:1px dashed black;
    height:45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.containerbackground {
    opacity: 0.7;
    color: lightgray;
    width: 15vw;
    left: 0;
    font-size: 30px;
    position: absolute;
    top: 40vh;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    z-index: 3;
}